.kanban-container{
    color: white;
    display:flex;
    padding: 25px;
}

.todo-div{
    border-top:  1px solid red;
    color: red;
    width: 30%;
    padding: 10px;
    margin: 15px;

}
.ip-div{
    width: 30%;
    color: orange;
    border-top:  1px solid orange;
    padding: 10px;
    margin: 15px;

}
.complate-div{
    padding: 25px;
    border-top: 1px solid green;
    color: green;
    width: 30%;
    margin: 15px;
    padding: 10px;

}
.todo-btn{
    width: 32px;
    float: right;
    border: none;
    border-radius: 8px;
}
.ip-btn{
    width: 32px;
    float: right;
    border: none;
    border-radius: 8px;
}
.complate-btn{
    width: 32px;
    float: right;
    border: none;
    border-radius: 8px;
}
.cancel-btn{
    float: right;
    border-radius: 12px;
    color: white;
    border: none;
    background-color: rgba(255, 0, 0, 0.586);
}
.move-r{
    margin-left: 1px;

    border:none;
    border-radius:8px ;
    float: right;
}
.move-l{
    margin-left: 1px;

    border:none;
    border-radius:8px ;
}
.item-card{
    width: 95%;
    border-radius: 12px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid gray;
}
.item-val{
    border: none;
    width:80%; }
.hide{
    display: none;
}
